header{
background-color:rgb(21, 103, 21);
padding:10px;
}
.pages{
text-align:center;
display: flex;
align-items: center;
justify-content: center;
padding: 5px 10px;
}
.pages a{
text-decoration:none;
color:white;
font-weight:bold;
padding:5px;
}
#logo{
width: 60px;
height: 50px;
float:left;
margin-top: -5px;
vertical-align: middle;
}
                                                                                                                                                                                                      
.slider {
  width: 100%;
  height: 500px;          /* WEYNAA */
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;      /* Sawirka ha buuxiyo */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

h2{
    background-color: rgb(21, 103, 21);
    color: white;
    text-align: center;
    padding: 15;
    align-items: flex-start;
}

#sawir{
    width: 130px;
    height: 80px; 
    float: left;

}
 main{
    display: flex;
    justify-content: space-between;
 }
 .section1{
    width: 23%;
    float: left;
    order: 1;


      text-align: center;
  color: rgb(23, 67, 23);
  margin-bottom: 20px;
}

    label {
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 5px;
}

input[type="submit"] {
  background-color:rgb(21, 103, 21);
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: rgb(21, 103, 21);
  transform: scale(1.03);
}


    
 
 .section2{
    width: 30%;
    float: right;
    order: 2;
     

}
.section3{
    width: 30%;
    float: right;
    order: 3;
    
}
h5{
    color: rgb(21, 103, 21);
    text-align: center;
    
   
}


footer{
  display: flex;
  background: rgb(21, 103, 21);
  color: white;
  justify-items: space between;

}
.fleft{
  padding: 5px;
  float: left;
  font-size: small;
}
.fcenter{
  padding: 3px;
}
.fcenter a{
  display: flex;
  text-decoration: none;
  color: white;
}

.fcenter h3{
  font-size: small;
}
#search{
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 15px;
  margin-left: 10px;
  width: 150px;
}

button:hover {
  background-color: rgb(60, 67, 60);

}

.event-date {
  font-size: 14px;
  color: #e12f07;
  font-weight: bold;
  margin: 5px 0;
}